/* Reset ================================================================================= */
* {margin:0; padding:0;}
body {background:#fff; font:12px/1.35 Arial, Helvetica, sans-serif; color:#000; text-align:center;}
img {border:0; vertical-align:top;}
a {color:#05c; text-decoration:underline;}
a:hover {text-decoration:none;}
:focus {outline:0;}

/* Headings */
h1 {font-size:20px; font-weight:normal; line-height:1.15;}
h2 {font-size:18px; font-weight:normal; line-height:1.25;}
h3 {font-size:16px; font-weight:bold; line-height:1.25;}
h4 {font-size:14px; font-weight:bold;}
h5 {font-size:12px; font-weight:bold;}
h6 {font-size:11px; font-weight:bold;}

/* Forms */
form {display:inline;}
fieldset {border:0;}
legend {display:none;}

/* Table */
table {border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%;}
caption,
th,
td {vertical-align:top; text-align:left; font-weight:normal;}

/* Content */
strong {font-weight:bold;}
address {font-style:normal;}
cite {font-style:normal;}
q,
blockquote {quotes:none;}
q:before,
q:after {content:'';}
small,
big {font-size:1em;}
sup {font-size:1em; vertical-align:top;}

/* Lists */
ul,
ol {list-style:none;}

/* Tools */
.hidden {display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important;}
.nobr {white-space:nowrap !important;}
.wrap {white-space:normal !important;}
.a-left {text-align:left !important;}
.a-center {text-align:center !important;}
.a-right {text-align:right !important;}
.v-top {vertical-align:top;}
.v-middle {vertical-align:middle;}
.f-left,
.left {float:left !important;}
.f-right,
.right {float:right !important;}
.f-none {float:none !important;}
.f-fix {float:left; width:100%;}
.no-display {display:none;}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}
.no-bg {background:none !important;}
/* ======================================================================================= */


/* Layout ================================================================================ */
.wrapper {min-width:950px;}
.page {margin:0 auto; padding:0; text-align:left;}
.main-container {height:auto !important; min-height:450px; height:450px; padding:10px 30px;}
.main {margin:0; width:100%}
.main-col {margin-left:190px; min-height:450px; padding:0 0 25px 25px;}
.main-col-inner {float:left; width:100%;}

/* Content Columns */
.col2-set .col-1 {float:left; width:49%;}
.col2-set .col-2 {float:right; width:49%;}
.col2-set .col-narrow {width:33%;}
.col2-set .col-wide {width:65%;}
.col3-set .col-1 {float:left; width:32%;}
.col3-set .col-2 {float:left; width:32%; margin-left:2%;}
.col3-set .col-3 {float:right; width:32%;}
.col4-set .col-1 {float:left; width:23.5%;}
.col4-set .col-2 {float:left; width:23.5%; margin:0 2%;}
.col4-set .col-3 {float:left; width:23.5%;}
.col4-set .col-4 {float:right; width:23.5%;}

/* htabs */
.htabs {border-bottom:1px solid #DDDDDD; height:30px; line-height:16px; margin-bottom:15px; padding:0 0 0 10px;}
.htabs a {background:#F7F7F7; border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD; border-top:1px solid #DDDDDD; color:#000000; display:none; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; margin-right:2px; padding:7px 15px 6px; text-align:center; text-decoration:none;}
.htabs a.selected {background:none repeat scroll 0 0 #FFFFFF; padding-bottom:7px;}

/* vtabs */
.vtabs {float:left; margin-right:-190px; padding-bottom:25px; width:190px; border-right:1px solid #DDDDDD;}
.vtabs a {display:none;}
.vtabs a,
.vtabs span {background:none repeat scroll 0 0 #F7F7F7; border-bottom:1px solid #DDDDDD; border-left:1px solid #DDDDDD; border-top:1px solid #DDDDDD; clear:both; color:#000000; display:block; float:left; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; margin-bottom:5px; padding:6px 14px 7px 15px; text-align:right; text-decoration:none; width:160px;}
.vtabs a.selected {background:none repeat scroll 0 0 #FFFFFF; padding-right:15px;}
.vtabs a img,
.vtabs span img {cursor:pointer;}

/* box */
.box {margin:0 0 15px;}
.box .box-title {background:#547C96; border-bottom:1px solid #8EAEC3; padding:5px;}
.box .box-title h2,
.box .box-title h3 {color:#FFFFFF; font-size:14px; font-weight:bold;}
.box .box-content {background:#FCFCFC; border:1px solid #8EAEC3; height:auto !important; min-height:180px; height:180px; padding:10px;}
/* ======================================================================================= */


/* Global Styles ========================================================================= */
/* Form Elements */
input,
select,
textarea,
button {font:12px Arial, Helvetica, sans-serif; vertical-align:middle; color:#000;}
input.input-text, textarea, select {background:#FFFFFF; border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA; border-style:solid; border-width:1px; font:12px arial,helvetica,sans-serif;}
input.input-text,
textarea {padding:4px;}
input.input-text:focus,
select:focus,
textarea:focus {}
select {padding:3px;}
select option {padding-right:10px;}
select.multiselect {height:15em;}
select.multiselect option {border-bottom:1px solid #ddd; padding:2px 5px;}
select.multiselect option:last-child {border-bottom:0;}
textarea {overflow:auto;}
input.radio {margin-right:3px;}
input.checkbox {margin-right:3px;}
input.qty {width:2.5em !important;}
button.button::-moz-focus-inner {padding:0; border:0;} /* FF Fix */
button.button {-webkit-border-fit:lines;} /* <- Safari & Google Chrome Fix */
button.button {overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer;}
button.button span {float:left; height:25px; background:transparent url(../images/bkg_button.gif) 0 0 no-repeat; padding:0 0 0 8px; font:12px/25px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff;}
button.button span span {background-position:100% -25px; padding:0 12px 0 4px;}
button.disabled {}
button.disabled span {}
p.control input.checkbox,
p.control input.radio {margin-right:6px;}

/* Form List */ /* Table for default form data */
.form-list {width:100% !important; border:0 !important;}
.form-list td.label,
.form-list td.value {background:0 !important; border:0 !important; padding:5px 0 5px 5px !important;}
.form-list td.label {width:200px;}
.form-list td.label label {display:block; width:185px; padding-right:15px;}
.form-list td.value {width:auto !important;}
.form-list td.value input.input-text,
.form-list td.value textarea {width:98% !important;}
.form-list td.value textarea {height:15em;}
.form-list td.value select {width:58% !important; display:block;}
.required {color:#D40707 !important; font-weight:bold !important;}

/* Form Validation */
div.error {background:url("../images/validation_advice_bg.png") no-repeat scroll 2px 1px transparent; clear:both; color:#ff0000; font-size:11px; line-height:14px; margin:3px 0 0; min-height:13px; padding-left:17px;}
input.error,
select.error,
textarea.error {background:none repeat scroll 0 0 #faebe7!important; border:1px dashed #ff0000!important;}
input.valid,
select.valid,
textarea.valid {background:none repeat scroll 0 0 #eff5ea!important; border:1px solid #446423!important;}
p.required {color:#ff0000; font-size:11px; font-weight:bold; text-align:right;}

/* Messages */
.error-msg,
.success-msg,
.note-msg {background-position:10px 9px !important; background-repeat:no-repeat !important; border-style:solid !important; border-width:1px !important; font-size:11px !important; font-weight:bold !important; margin-bottom:20px; padding:10px 8px 10px 32px !important;}
.error-msg {background-color:#faebe7; background-image:url("../images/i_msg-error.gif"); border-color:#f16048; color:#df2801;}
.success-msg {background-color:#eff5ea; background-image:url("../images/i_msg-success.gif"); border-color:#446423; color:#3d6611;}
.note-msg {background-color:#fafaec; background-image:url("../images/i_msg-note.gif"); border-color:#fcd344; color:#3d6611;}

/* BreadCrumbs */
.breadcrumbs {font-size:11px; line-height:1.25; margin:0 0 13px;}
.breadcrumbs li {display:inline;}
.breadcrumbs li strong {font-weight:bold;}

/* Page Heading */
.page-title {width:100%; overflow:hidden; border-bottom:1px solid #ccc; margin:0 0 25px; padding:0 0 5px;}
.page-title h1,
.page-title h2 {margin:0; font-size:20px; color:#0a263c;}
.page-title .separator {margin:0 3px;}
.page-title .link-rss {float:right; margin:7px 0 0;}
.title-buttons {text-align:right;}
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 {float:left;}
.subtitle,
.sub-title {clear:both; padding:15px 0 0; font-size:15px; font-weight:bold; margin:0 0 6px; color:#e25203;}

/* Pager */
.pager {font-size:11px; background:#fff; padding:10px 8px; text-align:center;}
.pager .amount {float:left; margin:0;}
.pager .limiter {float:right;}
.pager .limiter label {vertical-align:middle;}
.pager .limiter select {padding:0; margin:0 0 1px; vertical-align:middle;}
.pager .pages {margin:0 140px;}
.pager .pages ol {display:inline;}
.pager .pages li {background:#FFFFFF; display:inline;}
.pager .pages li.current span,
.pager .pages li a:hover {border:1px solid #269BC6; color:#269BC6; padding:4px 10px;}
.pager .pages li a {border:1px solid #DDDDDD; color:#A3A3A3; font-size:12px; padding:4px 10px; text-decoration:none;}

/* Data Table */
.data-table {width:100%;}
.data-table th {color:#222222; padding:5px; border:1px solid #ddd; font-weight:bold; vertical-align:middle; white-space:nowrap;}
.data-table td {padding:5px; border:1px solid #ddd; vertical-align:middle;table-layout: fixed;max-width: 20vw;word-wrap: break-word;}
.data-table thead {background-color:#f2f2f2;}
.data-table tbody {}
.data-table tfoot {}
.data-table td.label,
.data-table th.label {font-weight:bold; background-color:#f6f6f6;}
.data-table td.value {}
.data-table tr.filter td {background:#E7EFEF; padding:5px;}
.data-table td.value input.input-text,
.data-table td.value select,
.data-table td.value textarea {width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* Noscript Notice */
.noscript {border:1px solid #ddd; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f;}
.noscript .noscript-inner {width:950px; margin:0 auto; padding:12px 0 12px; background:url(../images/i_notice.gif) 20px 50% no-repeat;}
.noscript p {margin:0;}

/* Order Status */
.pedding {color:#000000;}
.processing {color:#3399FF;}
.success {color:#008000;}
.failure {color:#FF0000;}
.cancel {color:#FFA500;}
.delivery {color:#800080;}
.finish {color:#000080;}
/* ======================================================================================= */

/* Header ================================================================================ */
.header-container {}
.header {background:url(../images/bkg_header.png) repeat-x; height:56px; padding:0 30px;}
.header .logo {float:left; margin:18px 0 0;}

/* nav-container */
.nav-container {background:url(../images/bkg_nav.png) repeat-x;  height:34px; padding:0 30px;}
#nav {height:34px}

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li {position:relative;}
#nav a {color:#FFFFFF; display:block; text-decoration:none;}
#nav a:hover {}
#nav span {display:block; cursor:pointer; white-space:nowrap;}
#nav li ul span {white-space:nowrap;}

/* 1st Level */
#nav ul.level1 li {background:url(../images/nav-split.png) no-repeat left center transparent; float:left; text-align:center;}
#nav ul.level1 a {padding:10px 15px 9px 17px;}
#nav ul.level1 a:hover {background:url(../images/nav-active.png) repeat-x;}
#nav ul.level1 li.active > a {background:url(../images/nav-active.png) repeat-x;}

/* 2nd Level */
#nav ul.level2 {background:url(../images/nav-transparent.png) repeat; left:-1000px; position:absolute; top:34px;}
#nav ul.level1 li.active ul.level2 {left:0;}
#nav ul.level2 li {float:none; text-align:left; width:145px;}

#nav ul.level2 a {padding:5px 10px;}
#nav ul.level2 a:hover {background:#C55B27;}
/* ======================================================================================= */

/* Footer ================================================================================ */
.footer-container {background:url(../images/bkg_footer.png) repeat-x #FFFFFF; clear:both; color:#333333; font-size:12px; height:90px; padding-top:38px; text-align:center;}
.footer {}
.footer address {}
.footer address a {}
.footer address a:hover {}
/* ======================================================================================= */

/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.footer:after,
.footer-container .bottom-container:after,
.page-title:after,
.pager:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after {clear:both; content:"."; display:block; font-size:0; height:0; line-height:0; overflow:hidden;}
/* ======================================================================================= */
