/* Clears ================================================================================ */
.clearer {display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
.clearer,
.header-container,
.header-container .top-container,
.header,
.header .quick-access,
#nav,
.header-banner,
.footer-banner,
.footer-container,
.footer,
.main,
.col-main,
.col2-set,
.col3-set,
.col4-set,
.block .block-content,
.block .actions,
.block li.item,
.page-title,
.title-buttons,
.category-list,
.products-grid,
.products-list li.item,
.review-list li,
.box-account .box-head,
.box .box-title,
.pager,
.sorter,
.filter,
.filter dl,
.ratings,
.add-to-box,
.add-to-cart,
.product-essential,
.product-collateral,
.product-view .product-img-box .more-views ul,
.product-view .product-shop-box .short-description,
.product-colors,
.product-colors .color-list,
.product-options,
.product-options-bottom,
.box-review dl,
.cart,
.shopping_cart .crosssell li.item,
.opc .step-title,
.form-list li,
.form-list .field,
.buttons-set {zoom:1;}
/* ======================================================================================= */
